<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anmie web</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/stylePartial.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <h1 class="logo">AnjayNime</h1>
            </a>
            <ul class="nav__navigation">
                <li><a href="/">Top</a></li>
               <li><a href="/ongoing">On Going</a></li> 
               <li><a href="/recomend">Recomended</a></li>
               <li><a href="/comingsoon">Coming Soon</a></li>
            </ul>
        </nav>
    </header>
